body {
	margin: 0;
	color: #FAF3DD; /* Couleur du texte*/
	font: 16px/1.5em Arial, sans-serif;
}

.site {
}
.container {
	max-width: 960px;
	margin: auto;
}
.site-header {
	background: #000;
	padding: .5em 0;
	color: #FAF3DD;
}
.site-header a {
	text-decoration: none;
	color: #ddd;
	transition: .2s;
}
.site-header .container {
	display: flex;
}
.photo {
	flex: 2 0 0;
	text-align: center;
}
.site-menu {
	display: flex;
	flex: 7 0 0;
}
.site-menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	align-self: center;
}
.site-menu-list li {
	display: inline-block;
	font-size: 1em;
	text-transform: uppercase;
	margin-left: 10px;
}
.site-menu a:hover {
	color: #ebd961;
}
.icons {
	flex: 1 0 0;
	align-self: center;
	display: flex;
	justify-content: space-between;
}
.icons a {
	text-decoration: none;
	color: #ddd;
	transition: .2s;
}
.site-main a {
	text-decoration: none;
	color: #ddd;
	transition: .2s;
}
.moi {
	background: #000 url("../images/background.png") no-repeat center top;
	background-size: cover;
	padding: 6em 0;
	text-shadow: 0 5px 15px #000;
}
.section-title {
	margin-top: 0;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1.2;
}
.subtitle {
	text-align: center;}

												/* Animation  */

	@keyframes caisse {
		0% {
			background: #062F4F;
			height: 50px;
			width: 10px;
			transform: translateX(-300px);
		}
		50% {
			background: #813772;
			transform: rotate(-90deg);
		}
		75% {
			background: #062F4F;
			height: 100px;
			transform: rotate(0deg);
		}
		100% {
			transform: translateX(300px);
			width: 200px;
		}
	}

	@keyframes animation {
		0% {
		}
		100% {
		}
	}
	.animation {
		height: 200px;
		background: #FFF;
		padding: 4em 0;
		text-align: center;
		color: #062F4F;
	}
	.flexo {
		display: flex;
		justify-content: space-between;
	}
	.flexo .btn {
		height: 50px;
	}
	.caisse {
		background: #062F4F;
		text-align: center;
		align-content: center;
		color: #FFF;
		font-size: 2em;
		padding: .5em .1em;
	    animation: caisse 4s forwards;
	    line-height: 1.5em;
	}
												/* Fin animation  */

.dinteret {
	background: #813772;
	padding: 4em 20px;
}
.webs {
	background: #062F4F;
	padding: 4em 0;
}
.websexamples {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.dinteret .webs-item {
	height: 170px;
}

.webs-item {
	position: relative;
	overflow: hidden;
	width: calc(33% - 2em);
	text-align: center;
	margin: 0 1em;
}

.paraph {
	background: rgba(0,0,0,.7);
	position: absolute;
	transition: top .4s ease-in-out;
	top: 280px;
}
.webs-item:hover .paraph {
	top: 0;
	transition: top .3s ease-in-out;
}
.item-img:hover {
	transform: perspective(600px) rotateX(45deg);
}
.jeux {
	background: #FFF;
	padding: 4em 0;
	color: #062F4F;
}
.jeux-item {
	flex: 1;
	text-align: center;
}
.contact {
	color: #fff;
	background: #062F4F;
	padding: 4em 20px;
}
.form {
margin-top: 2em;
	}
	.form-group {
		display: flex;
	}
	.form-group + .form-group {
		margin-top: 1em;
	}
	.form-label{
		text-align: right;
		flex: 1;
		margin-right: 1em;
		line-height: 2em;
	}
	.form-control{
		flex: 3;
		font-size: 1.25em;
		padding: .5em;
		border: 1px solid #333;
		border-radius: 2px;
		transition: .3s ease-in-out;
	}
	.form-control:focus{
		outline: 0;
		border-color: #ebd961;
	}
	.textarea {
		min-height: 8em;
		resize: vertical;
		}
	.form-submit {
		justify-content: flex-end;
	}
	.btn {
		font-size: 1.5em;
		line-height: 2em;
		padding: 0 1em;
		border: 0;
		background: #333;
		color: #ccc;
		border-radius: 2px;
	}
	.btn:hover {
		color: #8FC0A9;
		cursor: pointer;
	}
	.btn:active {
		background: #666;
	}
	.btn fa {
		margin-right: .5em;
	}
.site-footer {
	background: #000;
	padding: 4em 20px;
}
.site-footer .container {
	display: flex;
	justify-content: space-between;
}
.site-footer a {
	text-decoration: none;
	color: #ddd;
	transition: .2s;
}
.copy {
	flex: 2 0 0;
}


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  bottom: 40px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #000;
  background: #999;
  position: fixed;
  border-radius: 5px;
}



/* si l'ecran fait moins de 1024px */
@media (max-width: 1024px) {
	.container {
		padding-left: 2em;
		padding-right: 2em;
	}
@media (max-width: 768px) {
	.site-menu-list {
		position: absolute;
		left: 0;
		right: 0;
		padding: 1em;
		background: #333;
	}
	.hero {
		height: 400px;
		line-height: 400px;
	}
	.reasons {
		flex-direction: column;
	}
	.reasons-item + .reasons-item {
		margin-top: 2em;
		margin-left: 0;
	}
	.form-group {
		flex-direction: column;
	}
	.form-label {
		text-align:
		;
	}
}

@media (min-width: ) and (max-width: ) {}

